.layout {
  background-color: var(--main-grey);
  display: flex;
  height: calc(100vh - 75px);
}

.line {
  height: 1px;
  background-color: var(--border-grey);
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  .search_input {
    border-radius: 16px;
    border: 1px var(--border-grey) solid;
    background-color: var(--main-grey);
    padding: 13px 15px;
    width: 400px;
  }

  .profile_img {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
  }
}

.sidebar {
  width: 250px;
  padding: 16px 12px;
  background-color: white;
  border-right: 1px var(--border-grey) solid;

  .nav_item {
    transition: 0.5s;
    padding: 4px 8px;
    border-radius: 12px;
    width: 225px;
    cursor: pointer;

    &:hover {
      background-color: #f3f4f6;
    }
  }
}
