services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: togouser
      POSTGRES_PASSWORD: togopass
      POSTGRES_DB: togouserdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend

    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgres://togouser:togopass@postgres:5432/togouserdb
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: npm run dev

volumes:
  pgdata:
